window#waybar {
    background-color: #3B2F47;
    color: #D0BEB0;
    font-family: fira code;
}
#modules-right {
  background-color: rgba(43, 48, 59, 0.5);
}
#workspaces button {
  background-color: #043e0c;
  color: #D0BEB0;
}

#workspaces button.focused {
    background: #355070;
    border-bottom: 3px solid black;
}

#mode {
  font-size: 16px;
  color: #D0BEB0;
  background-color: #244461;
  padding: 0 6px;
}
#pulseaudio, #backlight, #battery, #network, #cpu, #memory, #temperature, #kbl, #clock, #tray {
  padding: 0 5px 0 0;
  color: #EBDCCF;
}
#clock {
  font-size: 25px;
  background-color: #3B2F47;
}
#network.disconnected, #network.disabled {
  background-color: black;
  color: #244461;
}
#battery.charged {
    background-color: #244461;
    color: #CAA68E;
}
#battery.charging {
    background-color: #266124;
    border-radius: 10px;
}
#battery:not(.charging) {
    background-color: #614124;
    color: #ccc111;
    border-radius: 5px;
}
